<div class="container">
    <div class="row justify-content-center">
        {{#each events}}
        <div class="col-md-3 my-3">
            <div class="card" style="width: 18rem;">
                <img src="{{image}}" class="card-img-top img-fluid mx-auto d-block avatar p-3" alt="{{title}}">
                <div class="card-body">

                    <h5 class="card-title text-center">Title:{{title}}</h5>
                    <p class="card-text text-center">Dimension:{{dimension}}</p>
                    <p class="card-text text-center">Organizer:{{organizer.username}}</p>
                    <div class="row px-5">
                        <a href="/events/{{id}}" class="btn btn-dark"> SEE DETAILS</a>
                    </div>

                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>