<div class="container">

    <div class="row justify-content-center">

        <div class="col-md-6">

            <h1>Edit event</h1>
            <hr>

            <form action="/events/{{id}}/edit" method="POST" enctype="multipart/form-data">

                <div class="mb-3">
                    <label for="image" class="form-label"></label>
                    <input class="form-control" type="file" id="image" name="image" value="{{image}}">
                </div>

                <div class="mb-3 row">
                    <div class="col">
                        <label for="title" class="form-label">Title:</label>
                        <input type="title" class="form-control" id="title" name="title" value="{{title}}">
                    </div>
                </div>
                <div class="mb-3">
                    <label for="dimension" class="form-label">Dimension</label>
                    <select class="form-select" name="dimension" id="dimension">
                        <option value="Dimension C-137" selected>Dimension C-137</option>
                        <option value="Post-Apocalyptic Dimension">Post-Apocalyptic Dimension</option>
                        <option value="Replacement Dimension">Replacement Dimension</option>
                        <option value="Cronenberg Dimension">Cronenberg Dimension</option>
                        <option value="Testicle Monster Dimension">Testicle Monster Dimension</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="date" class="form-label">Date:</label>
                    <input type="date" class="form-control" id="date" name="date" value="{{date}}">

                </div>

                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea class="form-control" id="description" rows="3"
                        name="description">{{description}}</textarea>
                </div>
                <div class="mb-3">
                    <p>Location:</p>
                    <div class="mb-3">
                        <label for="longitude" class="form-label">Longitude:</label>
                        <input type="text" class="form-control" id="longitude" name="longitude"
                            value="{{location.coordinates.[0]}}">
                    </div>
                    <div class="mb-3">
                        <label for="latitude" class="form-label">Latitude:</label>
                        <input type="text" class="form-control" id="latitude" name="latitude"
                            value="{{location.coordinates.[1]}}">
                    </div>
                </div>
                <input type="hidden" name="id" value="{{id}}">
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-dark block">Save Edit</button>
                </div>


            </form>
        </div>
    </div>

</div>