<div class="row justify-content-center mt-3">
    <div class="col-6">
        <div class="card mb-3">
            <div class="card-body">
                <input type="hidden" name="id" id="id" value="{{events.id}}">
                <img src="{{events.image}}" class="img-fluid rounded-start" alt="{{events.title}}">
                <h5 class="card-title">Title:{{events.title}}</h5>
                <p class="card-text">Dimension:{{events.dimension}}</p>
                <p class="card-text">Organizer:{{events.organizer.username}}</p>
                <p class="card-text">Date:{{events.date}}</p>
                <p class="card-text">Description:{{events.description}}</p>
                {{!-- {{#each participants}}
                <p> Participants:{{username}}</p>
                {{/each}} --}}
                {{#if isEditOrOwnerOrAdmin}}
                <div class="row mt-4">
                    <div class="col-md-3">
                        <a href="/events/{{events.id}}/edit" class="btn btn-warning btn-sm">Edit event</a>
                    </div>
                    <div class="col-md-4">
                        <form action="/events/{{events.id}}/delete" method="POST">
                            <input type="submit" value="Delete event" class="btn btn-danger btn-sm">
                        </form>
                    </div>
                    {{/if}}
                </div>
                <div class="row mt-4">
                    <div class="col-md-3">
                        <a href="#" class="btn btn-dark btn-sm">Participate</a>
                    </div>
                </div>
                <div id="map" class="mt-3"></div>
            </div>
        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/map.js"></script>
<script
    src="https://maps.googleapis.com/maps/api/js?callback=initMap&key=AIzaSyDqYaQFt-ObweAgDe4qRqrW8xZ6USdvK3E"></script>