<div class="container">
    <div class="row justify-content-center mt-3">
        <div class="col-6">
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Name: {{episode.name}}</h5>
                            <p class="card-title">Air date: {{episode.air_date}}</p>
                            <p class="card-text">Episode: {{episode.episode}}</p>
                            {{#if currentUser}}
                            <div class="row mt-4">
                                <div class="col-md-3">
                                    <form action="/episodies/{{episode.id}}/add-favorites" method="POST">
                                        <input type="submit" value="Add favorite" class="btn btn-dark btn-sm">
                                    </form>
                                </div>
                                <div class="col-md-3">
                                    <form action="/episodies/{{episode.id}}/quit-favorites" method="POST">
                                        <input type="submit" value="Quit favorites" class="btn btn-dark btn-sm">
                                    </form>
                                </div>
                            </div>
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        {{#each char}}
        <div class="col-2">
            <a href="/characters/details/{{id}}" class="btn btn-dark all-char"><img src="{{image}}" alt="">{{name}}</a>
        </div>
        {{/each}}
    </div>
    <a href="/episodies/1" class="btn btn-dark">Back to all episodies</a>
</div>