<div class="episodies-img">
    <div class="container">
        <div class="row justify-content-center">
            <form action="/episodies/results/1" method="GET">
                <div class="my-3 row">
                    <div class="col">
                        <select class="form-select" name="season" id="season">
                            <option value="" selected>Select the season</option>
                            <option value="S01">Season 1</option>
                            <option value="S02">Season 2</option>
                            <option value="S03">Season 3</option>
                            <option value="S04">Season 4</option>
                            <option value="S05">Season 5</option>
                        </select>
                    </div>
                    <div class="col">
                        <input type="submit" value="Results" class="btn btn-light">
                    </div>
                </div>
            </form>
            {{#each episodies.info}}
            <div class="col-xl-3 col-lg-4 col-md-5 my-3">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title text-center">{{name}}</h5>
                        <p class="card-text text-center">Episode: {{episode}}</p>
                        <div class="row px-5">
                            <a href="/episodies/details/{{id}}" class="btn btn-dark">DETAILS</a>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
            <div class="row justify-content-center">
                <div class="col-2">{{#if episodies.previousPage}}
                    <a href="/episodies/results/{{episodies.previousPage}}?season={{season}}"
                        class="btn btn-light mb-3">Previous
                        page</a>
                    {{/if}}
                </div>
                <div class="col-2">
                    {{#if episodies.nextPage}}
                    <a href="/episodies/results/{{episodies.nextPage}}?season={{season}}"
                        class="btn btn-light mb-3">Next
                        page</a>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</div>